body{
    font-family:Arial;
}
#game{
    text-align:center;
    padding:20px;
}
th{
    height:50px;
}
/* button {
    justify-content:center;
    width: 30%;
    padding: 20px;
} */
.btn-exit{
   justify-content: right;
    
}
