body{
    font-family:Arial;
}
#container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding:25px;

}
#game-select{
    font-size:120%;

}
#game-select select,label {
    width:120%;
}
#btn-manager {
    width: 12%;
    margin: 40px;
    margin-left:70px;

}
#lbl-select{
    text-align:center;
    color:black;
    font-size:x-large;
}
#form {
    height: 100%;
    width: auto;
}